body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

header {
    background: #2E86C1; /* Bleu professionnel */
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

main {
    padding: 20px;
    min-height: 80vh;
}

h1, h2, p {
    text-align: center;
    margin: 10px 0;
}

section {
    margin: 20px 0;
}

ul {
    list-style-type: none; /* Suppression des puces par défaut */
    padding: 0;
}

ul li {
    margin: 5px 0;
    padding-left: 1.5em;
    position: relative;
}

ul li::before {
    content: '•'; /* Utilisation de puces */
    position: relative;
    display: flex; 
    align-items: center;
    left: 0;
    color: #2E86C1; /* Même couleur que le header pour cohérence */
    font-size: 1.5em;
    line-height: 1em; /* Aligner verticalement avec le texte */
}


footer {
    background: #2C3E50; /* Gris foncé contrasté */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Témoignages */
section.temoignages p {
    text-align: center;
    font-style: italic;
    margin: 10px auto;
    max-width: 800px;
}
/* Autres styles restent les mêmes */

ul li img {
    width: 50px; /* Ajustez la taille selon vos besoins */
    height: 50px; /* Maintenir la même hauteur pour garder les proportions */
    margin-right: 10px; /* Un peu d'espace entre l'icône et le texte */
    vertical-align: middle; /* Aligne l'icône avec le texte */
    border-radius: 50%; /* Transforme l'image en cercle */ 
    margin-right: 10px; /* Un peu d'espace entre l'icône et le texte */ 
    border: 2px solid #2E86C1; /* Ajoute une bordure colorée autour de l'icône */
}
/* CSS pour les images avec la classe 'responsive-img' */
    .responsive-img {
        width: 100%;
        height: auto;
        border: 2px solid #ddd; /* Exemple de bordure */
        margin: 10px 0; /* Espacement vertical */
    }

